*{
    box-sizing: border-box;
    word-wrap: break-word;
}
body {
    margin: 0;
    padding: 0;
}

.navbar{
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    grid-template-rows: 50px;
    background-color: #191a64;
    position: fixed;
    width: 100%;
}
.logo {
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 10px;
    align-content: center;
    /* border: 1px solid red; */
    padding: 10px;
    color: #fff;
}
.logo-heading{
    text-align: right;
}
.logo h1{
    margin:0;
    padding: 0;
}
.logo i{
    margin:0;
    padding:10px 0 0 0;
}
.logout{
    grid-column: 3/4;
    /* border: 1px solid blue; */
    text-align: right;
    display: grid;
    grid-template-columns: auto 40px;
    
}
.logout button {
    display: block;
    outline: none;
    border: 0;
    background-color: #191a64;
    margin: 0;
    padding: 0;
    width: 40px;
    grid-column: 2/3;
}
.logout button:hover {
    background-color: rgba(3, 198, 247, 0.904);
}
.logout button i.material-icons.font-high{
    font-size: 35px;
    color: white;
}
.logout-option {
    display: none;
    position: absolute;
    top: 52px;
    right: 0;
    background-color: rgba(3, 198, 247, 0.904);
    height: 50px;
    width: 100px;
    border-radius: 5px;
}
.logout-option button {
    outline:none;
    background-color: rgba(0,0,0,0);
    border: 0;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.logout-option button:hover {
    background-color: #191a64;
    cursor: pointer;
    color: #fff;
    
}
.hamburger {
    grid-column: 1/2;
    /* border: 1px solid yellow; */
    padding: 4px 0 0 0;
    display: none;
}
.hamburger button {
    outline: none;
    border: 0;
    background-color: #191a64;
    margin: 0;
    padding: 0;
    width: 40px;
}
.hamburger button:hover {
    background-color:rgba(3, 198, 247, 0.904); 
}
.hamburger button i.material-icons.font-high{
    font-size: 35px;
    color: white;
}
/* ##### main container contents ###########3 */

.container {
    border: 0;
    margin:0;
    padding:0;
    width: 90vw;
    height: 100vh;
    display:grid;
    grid-template-columns:repeat;
    padding-top: 50px;
}
.side-bar{    
    padding:0;
    background-color: rgba(14, 34, 122, 0.733);
    grid-column: 1/2;
}
.message-display{
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 100%;
    grid-auto-rows: min-content;
}

/* ############ lower sticky contents portion ######### */

.message-entry{
    grid-column: 1/7;
    padding: 3px 3px 3px 0;
}
.message-button{
    grid-column: 7/9;
    padding: 3px 3px 3px 0;
}
.location-button{
    grid-column: 9/13;
    padding: 3px 3px 3px 0;
}

/* ############ side bar contents ########## */

.side-bar-content h1{
    margin:0;
    padding: 22px;
    display:block;
    width: 100%;
    background: rgb(8, 29, 68);
    color: white;
    text-align:center;
}
.side-bar-content h3{
    color: white;
    text-align: center;
}

/* ######## message display contents ########## */

.message-format-inside {
    max-width: 100%;
    word-wrap: break-all;
    padding: 20px 10px 10px 30px;
}
.message-format-inside .message{
    max-width: 100%;
    /* overflow-wrap: break-word; */
    font-size: 25px;
}
.message-format-inside .sender-and-timestamp{
    font-size: 15px;
    /* text-transform: capitalize; */
    font-weight: bolder;
    color: rgba(0,0,0,0.4)
}

/* ###### footer contents ########### */
.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    display: grid;
    grid-template-columns: auto 70px 70px;
}
.message-entry{
    grid-column: 1/2;
    padding: 4px 15px 10px 15px;
}
.message-field {
    /* display: block; */
    width: 100%;
    height: 60px;
    padding: 2px 5px 1px 15px;
    outline: none;
    border: 0;
    box-shadow: 0 0 10px 3px rgba(0,0,0,0.5);
    font-size: 24px;
    border-radius: 30px;
}
.message-button {
    grid-column: 2/3;
}
.message-button-inside{
    /* display: block; */
    width: 60px;
    height: 60px;
    padding: 4px 5px 1px 5px;
    outline: none;
    border: 0;
    box-shadow: 0 0 3px 1px rgba(0,0,0,0.5);
    font-size: 17px;
    background-color: rgb(39, 78, 250);
    cursor: pointer;
    font-family: serif;
    text-transform: uppercase;
    font-weight: bolder;
    color: white;
    border-radius: 50%;
    text-align: center;
}
.message-button-inside i.material-icons.font-high {
    font-size: 30px;
}
.message-button-inside:hover {
    background-color: rgb(1, 46, 248);
    cursor: pointer;
}
.location-button{
    grid-column: 3/4;
}
.location-button-inside{
    /* display: block; */
    width: 60px;
    height: 60px;
    padding: 0;
    outline: none;
    border: 0;
    box-shadow: 0 0 3px 1px rgba(0,0,0,0.5);
    font-size: 17px;
    background-color: rgb(39, 78, 250);
    cursor: pointer;
    font-family: serif;
    text-transform: uppercase;
    font-weight: bolder;
    color: white;
    border-radius: 50%;
}
.location-button-inside .font-high{
    font-size: 60px;
    padding:0;
    margin: 0;
}
.location-button-inside:hover{
    background-color: rgb(1, 46, 248);
}

.active {
    display: block;
}
/* ############ media queries ########## */

@media screen and (max-width: 800px) {
    .container {
        grid-template-columns: 100%;
    }
    .message-display{
        grid-column: 1/2;
    }
    .hamburger {
        display:block;
    }
    .side-bar {
        display: none;
    }
    .side-bar-active {
        display: block;
        position: absolute;
        top: 52px;
        left: 0;
    }
    .active {
        display: block;
    }
    .message-field{
        font-size: 17px;
        height: 50px;
    }
}